<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar ">
        <div class="navbar-center">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/">Lego Collection</a></li>
                <li><a class="active" href="/about">About</a></li>
                <li>
                <details>
                    <summary> Theme </summary>
                    <ul class="p-2 bg-base-100">
                        <li><a href="/lego/sets?theme=Competition">Competition Theme</a></li>
                        <li><a href="/lego/sets?theme=RoboRiders">RoboRiders Theme</a></li>
                        <li><a href="/lego/sets?theme=Supplemental">Supplemental Theme</a></li>
                    </ul>
                </details>
                </li>
            </ul>
        </div>
    </div> 

    <div class="container mx-auto">
        <div class="hero">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p>All about me</p>
                    <div class=" grid ">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container mx-auto">
            <div class="grid grid-cols-2">
                <div class="p-4 rounded-md flex items-center justify-center">
                    <img src="/images/cats.JPG" alt="cats.JPG">
                </div>
                <div class="p-4 rounded-md flex items-center justify-center">
                    Hi, I am Hoang Phan. My student number is 101662229 in BSD. I am a cat lover. I usually play badminton at Seneca College.
                </div>
            </div>
        </div>
    </div>
    

    
</body>
</html>